= render :partial => "listings/form/javascripts", :locals => { :listing_id => "false", :run_js_immediately => true }
= nested_form_for @listing, :html => {:multipart => true} do |form|
  /= render :partial => "listings/form/category", :locals => { :form => form }
  = render :partial => "listings/form/title", :locals => { :form => form }
  = render :partial => "listings/form/description", :locals => { :form => form }
  = form.label "Service name" + "*"
  = form.text_field :first_service_name
  = form.label "Service length" + "*"
  = form.select :first_service_length_hr, [["Hr"],[0],[1],[2],[3],[4],[5],[6],[7],[8]]
  = form.select :first_service_length_min, [["Min"],[0],[5],[10],[15],[20],[30],[45]]
  = render :partial => "listings/form/price", :locals => { :form => form, :seller_commission_in_use => @seller_commission_in_use, :run_js_immediately => true, :minimum_commission => minimum_commission }
  = form.label  "Detailed service description" + "*"
  = form.text_area :first_service_description
  = form.fields_for :anothers do |builder|     
    = builder.label :service_name, "Service name" 
    = builder.text_field :service_name
    = builder.label  "Service length" 
    #service_length
      #service_length_hr
        = builder.select :service_length_hr, [["Hr"],[0],[1],[2],[3],[4],[5],[6],[7],[8]]
      #service_length_min
        = builder.select :service_length_min, [["Min"],[0],[5],[10],[15],[20],[30],[45]]
    = builder.label  "Service price" 
    #service_price
      = builder.text_field :service_price
    #currency_selector
      = "$"  
    %p= ""  
    /%p= "After cuddlepop and payment processor fees you will get" + "USD"
    = builder.label  "Detailed service description" 
    #detailed_ser_des
      = builder.text_area :detailed_ser_des
    = builder.link_to_remove "Remove this service"
  = form.link_to_add "+Add another service", :anothers
  = render :partial => "listings/form/custom_fields", :locals => { :form => form, :listing => @listing, :custom_fields => @custom_field_questions }
  = render :partial => "listings/form/valid_until", :locals => { :form => form }
  = render :partial => "listings/form/origin", :locals => { :form => form, :origin_loc => @listing.origin_loc }
  = render :partial => "listings/form/googlemap", :locals => { :form => form, :run_js_immediately => true}
  = render :partial => "listings/form/images", :locals => { :form => form, :run_js_immediately => true }
  = render :partial => "listings/form/visibility", :locals => { :form => form }
  = render :partial => "listings/form/privacy", :locals => { :form => form }
  = form.hidden_field :current_community_id, :value => @current_community.id
  = render :partial => "listings/form/send_button", :locals => { :form => form }
= render :partial => "listings/help_texts", :collection => ["help_valid_until"], :as => :field
